[Unit]
Description=Reload Sway configuration

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'killall waybar && SWAYSOCK=$(ls /run/user/%U/sway-ipc.%U.*.sock 2>/dev/null | head -n1) && [ -n "$SWAYSOCK" ] && SWAYSOCK="$SWAYSOCK" swaymsg reload'
RemainAfterExit=no

[Install]
WantedBy=default.target
