[Unit]
Description=Restart Waybar after resume
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'for user in $(loginctl list-users --no-legend | awk "{print \\$2}"); do systemd-run --machine=$user@.host --user --collect --wait /bin/bash -c "killall waybar; sleep 1; waybar" || true; done'

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
