[Unit]
Description=Deletes vacant folders and rar&zip files.

[Service]
Type=oneshot
ExecStart=/bin/delete_vacant_folders

[Install]
WantedBy=default.target
