* {
    border: none;
    border-radius: 0px;
    font-family: "Ubuntu Medium";
    font-size: 14px;
    min-height: 18px;
	
}

#custom-kb {
color: white;
background-color: rgba(25, 25, 112, 0.95);
border-top: 2px solid rgba(100, 114, 125, 1.0);
border-bottom: 2px solid rgba(100, 114, 125, 1.0);
border-right: 2px solid rgba(100, 114, 125, 1.0);
font-weight: bold;
padding-top: 1px;

}

#custom-kernel {
padding-top: 1px;
color: green;
border-top: 1px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);
border-left: 1px solid rgba(100, 114, 125, 1.0);

}

#custom-mesa {
padding-top: 1px;
color: #C41E3A;
border-top: 1px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);
border-right: 1px solid rgba(100, 114, 125, 1.0);

}

#language {
color: white;
background-color: rgba(25, 25, 112, 0.95);
border-top: 2px solid rgba(100, 114, 125, 1.0);
border-bottom: 2px solid rgba(100, 114, 125, 1.0);
border-right: 2px solid rgba(100, 114, 125, 1.0);
font-weight: bold;
padding-top: 4px;

}
#custom-bt_battery {
border-right: 1px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);
padding-top: 1px;

}

#custom-cpu{
padding-top: 2px;

}


#custom-gpu{
padding-top: 2px;

}

#custom-gpufan{
padding-top: 2px;
border-right: 2px solid rgba(100, 114, 125, 1.0);

}

#custom-cpufan{
padding-top: 2px;
border-right: 2px solid rgba(100, 114, 125, 1.0);

}

#custom-psufan{
padding-top: 2px;
border-right: 2px solid rgba(100, 114, 125, 1.0);

}

#custom-zram{
padding-top: 2px;

}

#custom-gpusage{
padding-top: 2px;

}

#custom-vram{
padding-top: 2px;
border-right: 2px solid rgba(100, 114, 125, 1.0);

}

#custom-gputemp{
padding-top: 2px;

}

#custom-mic {
padding-top: 2px;
padding-right: 2px;
border-right: 2px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);

}

#workspaces button:hover {
  box-shadow: 0 0 0px 0px;
  text-shadow: 1px 1px 4px #20b200;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.95);
    border-top: 2px solid rgba(100, 114, 125, 1.0);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    border-right: 0px solid rgba(100, 114, 125, 0.5);
    border-left: 0px solid rgba(100, 114, 125, 0.5);
    color: white;
}


#workspaces button {
    padding: 0px 5px;
    padding-top: 3px;
    background: transparent;
    color: green;
    border-bottom: 0px solid transparent;
}

#workspaces button.focused {
background-color: rgba(60, 179, 113, 0.75);
color: black;
    border: 2px solid white;
}
#workspaces button.urgent {
animation: blink 1s infinite;
color: red;
    border: 1px solid white;
}
#mode, #clock, #battery {
    padding: 1px 3px;
    margin: 0px 0px;
}

#temperature{
padding-top: 2px;
background: transparent;

}


#temperature.critical{
padding-top: 2px;
background: transparent;
    color: red;
}


#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
padding: 1px 2px;
padding-top: 4px;
border-top: 2px solid rgba(100, 114, 125, 1.0);
border-bottom: 2px solid rgba(100, 114, 125, 1.0);
border-right: 2px solid rgba(0, 0, 0, 1.0);
font-weight: 600;
color: lime;
}

#cpu{
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
background: transparent;
    color: white;
}
#memory{
border-left: 2px solid rgba(100, 114, 125, 1.0);
padding: 1px 5px;
padding-top: 2px;
background: transparent;
    color: white;
}

#battery {
    background: transparent;
    color: white;
}

#battery.charging {
    color: yellow;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #FF0000;
        color: black;
    }
}
#pulseaudio{
padding: 1px 3px;
border-top: 1px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);
border-left: 1px solid rgba(100, 114, 125, 1.0);
}
#pulseaudio.muted{
border-top: 1px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);
border-left: 1px solid rgba(100, 114, 125, 1.0);
padding: 1px 3px;
background: transparent;
    color: red;
}
#network{
padding: 0px 3px;
border-right: 1px solid rgba(100, 114, 125, 1.0);
border-bottom: 1px solid rgba(100, 114, 125, 1.0);
padding-top: 2px;
}
#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
