[Unit]
Description=Timer daily at midnight change hour to whatever you want.

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
