[Unit]
Description=a service for the timers the service must have the same name as the timer name

[Service]
Type=oneshot
ExecStart=/usr/bin/script_example
