ACTION=="add|change", KERNEL=="nvme*n*", ENV{DEVTYPE}=="disk", \
ATTR{queue/rq_affinity}="2", \
ATTR{queue/scheduler}="none", \
ATTR{queue/read_ahead_kb}="512"
