[Unit]
Description=Waybar
After=login-session.target
PartOf=login-session.target

[Service]
ExecStartPre=-/usr/bin/killall -q waybar
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=0.5
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=login-session.target
