backend="xrender";
vsync= true;

refresh-rate = 75;

#GLX backened

glx-no-stencil = true;
glx-no-rebind-pixmap = true;
use-damage = true;
vsync-use-glfinish = true;

###
unredir-if-possible = true;
unredir-if-possible-exclude = [
    "name *= 'mpv'",
    "name *= 'Firefox'",
    "name *= 'SMPlayer'"
];

fading = true;
fade-in-step = 0.1;
fade-out-step = 0.1;

wintypes:
{	popup_menu=
	{
	opacity = 0.93;
	fade = true;
}

    tooltip =
    {
        fade = true;
        shadow = false;
        opacity = 0.85;
        focus = false;
    };
};
